In [2]:
f=open("example.txt",'r')

In [3]:
f

In [4]:
data=f.read()

In [5]:
print(data)

india
africa
japan
america

In [7]:
import pandas

In [8]:
mydataset={'cars':["bmw","volvo"],'passings':[3,7,]}

In [11]:
t=pandas.DataFrame(mydataset)

In [12]:
t

    cars  passings
0    bmw         3
1  volvo         7

In [13]:
mydataset1={'rollnum':[1,2,3],'name':['aswi','padu','tej'],'session':['05-10-21','06-10-21','07-10-21']}

In [14]:
t=pandas.DataFrame(mydataset1)

In [15]:
print(t)

   rollnum  name   session
0        1  aswi  05-10-21
1        2  padu  06-10-21
2        3   tej  07-10-21

In [17]:
t.to_excel("export.xlsx")